*{
    background-color: rgb(240, 240, 240);
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}

container{
    display: grid;
    grid-template-columns: 220px 1fr;
    grid-template-rows:80px 1fr 60px;

    grid-template-areas:
    "header header"
    "menu content"
    "footer footer";

    height:100vh;
}